.book_content {
    height: 88%;

    .book_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 88%;
        border: 1px solid black;
        border-radius:  7px;
        box-shadow: 0px 4px 4px grey;
        margin: 5px;
        padding: 15px;
        box-sizing: border-box;
    }

    .book_container {
        display: flex;
        height: 70%;

        &__image {
            width: 30%;
            margin-right: 10px;
            background-color: white;
            display: flex;
            justify-content: center;
        }

        &__info {
            margin: 0 10px;
            h1, h4, p{
                margin: 2px 0;
            }
            width: 70%;

            &__table {
                tr {
                    height: 25px;
                }

                &_value {
                    padding-left: 15px;
                }
            }
        }
    }

    .add-to-card-button {
        align-self: flex-end;
        border: none;
        background-color: white;
        color: #4D724D;
        font-size: 16px;
    }

    .add-to-card-button:hover {
        font-size: 17px;
    }
}