.catalog_content {
    height: 88%;
    .content {
        display: flex;
    }
}

.right_container .filter {
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    background-color: #4d724d94;
    margin: 0 5px;
    display: flex;
    flex-direction: column;

    &__genres{
        border: 1px solid #000000;
        border-radius: 7px;
        background-color: #FFFFFF;
        text-decoration: none;
        outline: none;
        margin: 5px;
        padding: 0 2px;
        box-sizing: border-box;
        height: 25px;
        width: 96%;
        justify-self: center;

        &__label {
            margin: 0 5px;
        }
    }
}

.filter_container {
    display: flex;
    padding-top: 5px;
}

.catalog {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 5px;
    border-radius: 7px;
    overflow: scroll;
}