<h1>Book Store</h1>

<div>
    <p>
        <%= link_to 'Books', books_path %> </br>
        <%= link_to 'Authors', authors_path %> </br>
        <%= link_to 'Orders', orders_path %> </br>
    </p>
</div>
