.content {
    margin-top: 10px;
    height: 88%;
}

.left_container, .right_container {
    height: 100%;
}

.left_container {
    width: 75%;
}

.right_container {
    width: 25%;
    padding-left: 1%;
}
