.header {
    height: 10%;
    display: flex;
    justify-content: center;
    position: relative;

    & .user-icon {
        border: 1px solid black;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        align-self: center;
        margin-right: 7px;
        position: absolute;
        right: 0px;
        text-decoration: none;

        & p {
            margin: 25% 0;
            color: blue;
        }
    }
}