<body>
  <div class="container">
      <div class="header">
        <a href="/">
          <img src="assets/logo.png" width="200px" height="100%" alt="logo" />
        </a>
      </div>

    <div class="card text-white my-5 py-4 text-center" style="background-color: #4D724D;">
      <div class="card-body">
        <p class="text-white m-0">Ответы на популярные вопросы наших покупателей можно найти на этой странице</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Оформление заказа</h2>
            <p class="card-text">Для оформления заказа положите в корзину интересующие вас книги. Перейдите в корзину и нажмите оплатить.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-secondary btn-sm"style="background-color: #4D724D;">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Формы и способы оплаты</h2>
            <p class="card-text">Вы можете произвести оплату как по карте, так и наличными. Выберите нужный способ при оформлении заказа.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-secondary btn-sm"style="background-color: #4D724D;">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Помощь</h2>
            <p class="card-text">Если у вас возникли вопросы или проблемы, пожалуйста, обращайтесь в наш контакт-центр.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-secondary btn-sm"style="background-color: #4D724D;">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
        <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Доставка</h2>
            <p class="card-text">Доставка осуществляется курьером в пределах МКАД города Минска.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-secondary btn-sm"style="background-color: #4D724D;">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Аренда</h2>
            <p class="card-text">Вы можете взять интересующую вас книгу в аренду и вернуть ее через оговоренный промежток времени.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-secondary btn-sm"style="background-color: #4D724D;">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Заказ по телефону</h2>
            <p class="card-text">Вам не обязательно делать заказ на товары в интернете, вы можете сделать это по телефону. Позвоните и скажите специалисту, какие товары вас интересуют.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-secondary btn-sm"style="background-color: #4D724D;">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
