<body>
  <div class="container">
      <div class="header">
        <a href="/">
          <img src="assets/logo.png" width="200px" height="100%" alt="logo" />
        </a>
      </div>
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.halva.by/~dam/56dabef233894763225a7ad8/books_940x380.jpg" alt="">
      </div>
      <div class="col-lg-5">
        <h1 class="font-weight-light">Книжный магазин BookStore</h1>
        <p>Это отличное место, чтобы приобрести любую интересующую Вас книгу.</p>
        <p>А если хочется просто попробовать - можно взять книгу в аренду!</p>
        <a class="btn btn-secondary" style="background-color: #4D724D;" href="/catalog">В каталог</a>
      </div>
    </div>
    <div class="card text-white my-5 py-4 text-center" style="background-color: #4D724D;">
      <div class="card-body">
        <p class="text-white m-0">Приобретайте классическую и современную лтературу по лучшим ценам в BookStore!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Популярное</h2>
            <p class="card-text">Для любителей чтения, поклонников знаменитых писателей, а также тех, кто следит за событиями и тенденциями мира литературы, в этой секции собраны самые популярные книги этого года.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-secondary btn-sm"style="background-color: #4D724D;">Купить</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Классика</h2>
            <p class="card-text">Проверенные веками и не выходящие из моды произведения - здесь! Классическая литература поможет нам по-другому взглянуть на мир вокруг, получить ответы на волнующие вопросы и никогда не потеряет своей актуальности. Ведь любовь, дружба, противостояние добра и зла не могут устареть.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-secondary btn-sm"style="background-color: #4D724D;">Купить</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Наука</h2>
            <p class="card-text">Научно-популярная литература — настоящий клад для любознательных, ведь в книгах этого жанра простыми и понятными словами рассказывается о научных феноменах. В большинстве произведений теоретические аспекты дополняются интересными примерами и иллюстрациями. С такими книгами вы обогатите свой запас знаний или привьете любовь к учебе у детей.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="btn btn-secondary btn-sm"style="background-color: #4D724D;">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
