html,
body {
  height: 100%;
  background-color: #F5F5F5 !important;
}

.devise {
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8%;
    text-align: left;
  }
  
  .btn-primary {
    background-color: #5E855E !important;
    border-color: #5E855E !important;
  }

  label {
    color: black;
  }

  h1 {
    color: black;
  }
  
  a {
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: #5E855E !important;
    color: #F5F5F5 !important;
  }
}
