.devise {
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8%;
    text-align: left;
  }
  
  .btn-primary {
    background-color: #5E855E !important;
    border-color: #5E855E !important;
  }

  label {
    color: black;
  }

  h1 {
    color: black;
  }
  
  a {
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: #5E855E !important;
    color: #F5F5F5 !important;
  }
}

.dropdown {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 10%;
  width: 200px;
  border: 1px solid black;
  background-color: white;

  &_option {
      border-bottom: 1px solid black;
      padding-left: 5px;
      color: black;
      a {
          text-decoration: none;
          color: black;
      }
      a:hover {
          color: #4D724D
      }
  }
}
